@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

:root {
  --grey: rgb(73, 73, 73);
  --dark-grey: rgb(37, 37, 37);
  --green: rgb(52, 170, 82);
  --red: rgb(255, 66, 66);
  --gold: rgb(255, 179, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.login {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-grey);
}

.login-container {
  height: 40vh;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  background-color: var(--grey);
  color: white;
  position: relative;
}

.login-container p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 10px;
}

.login-container button {
  padding: 10px;
  border-radius: 24px;
  font-weight: 300;
  background: none;
  border: 2px solid var(--green);
  cursor: pointer;
  letter-spacing: 2px;
  font-weight: 700;
  color: var(--green);
  transition: all 0.15s ease;
}
.login-container button:hover {
  transform: scale(1.1);
  color: rgb(3, 108, 30);
  background-color: var(--green);
}

.login-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 5%;
}
.login-header h1 {
  font-weight: 300;
  color: var(--gold);
}

.login-header p {
  font-size: 12px;
  font-style: italic;
  letter-spacing: 2px;
}

.login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home {
  background-color: var(--dark-grey);
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  min-height: 100vh;
  min-width: 100vw;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
  background-color: rgb(21, 21, 21);
  position: relative;
  border-right: 1px solid rgb(62, 62, 62);
}

.sidebar h3 {
  font-weight: 100;
}

.sidebar-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: rgb(61, 61, 61);
  padding: 10px;
}

.sidebar footer button {
  border-radius: 18px;
  padding: 5px 10px 5px 10px;
  color: var(--red);
  background: none;
  cursor: pointer;
  border: 1px solid var(--red);
  transition: all 0.15s ease;
}

.sidebar footer button:hover {
  color: white;
  background: var(--red);
}

.sidebar footer {
  position: absolute;
  bottom: 0;
  background-color: rgb(45, 45, 45);
  width: 100%;
}

.sidebar footer img {
  object-fit: cover;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin: 10px;
}

.sidebar footer .user {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat {
  display: flex;
  flex: 3;
  min-height: 100vh;
}

.chat-users {
  display: flex;
  align-items: center;
  background-color: rgb(47, 47, 47);
  margin-bottom: 3px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.chat-users:hover {
  background-color: rgb(36, 36, 36);
}

.chat-users .chat-avatar {
  object-fit: cover;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 10px;
}

.chat {
  display: flex;
  flex-direction: column;
  position: relative;
}

.chat-head {
  display: flex;
  align-items: center;
  background-color: rgb(75, 75, 75);
  height: 70px;
  width: 100%;
  padding: 10px;
}

.chat-head img {
  object-fit: cover;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 0 20px 0 20px;
}

.chatbar {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  padding: 10px;
  bottom: 0;
  background-color: rgb(30, 30, 30);
}

.chatbar input {
  height: 35px;
  width: 100%;
  border-radius: 24px;
  padding: 10px;
  font-size: 1em;
  outline: none;
  border: none;
}

.chatbar .send-btn {
  width: 5%;
  height: 40px;
  margin-left: 10px;
  border-radius: 24px;
  outline: none;
  border: none;
  color: white;
  background-color: rgb(255, 179, 0);
  cursor: pointer;
}

.chatbar .image-btn {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  border-radius: 50%;
  outline: none;
  border: none;
  color: white;
  background-color: rgb(123, 86, 0);
  cursor: pointer;
}

.messages {
  overflow: scroll;
  max-height: calc(100vh - 100px);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.messages::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.messages {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.message {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.042);
  margin-bottom: 5px;
  padding: 20px;
  width: 100%;
  transition: all 0.1s ease;
}

.message:hover {
  background-color: rgba(255, 255, 255, 0.079);
}

.message-info {
  display: flex;
  align-items: center;
}

.message-info img {
  object-fit: cover;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 0 20px 0 20px;
}

.message-content {
  display: flex;
  flex-direction: column;
}

.message-content img {
  border-radius: 12px;
  max-height: 350px;
  width: auto;
}

.message.owner {
  flex-direction: row-reverse;
  background-color: rgba(255, 255, 255, 0.079);
}

.message.owner:hover {
  background-color: rgba(255, 255, 255, 0.155);
}
